* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
}

ul {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
    color: #fff;
}
.back-color {
    background-color: aquamarine;
}
.navbar-toggler-icon {
    width: 3em;
    height: 3em;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-size: contain;
}

/* Footer section */
.footer-area {
    background-color: #212529;
    height: 300px;
    margin-top: 140px;
    padding-top: 50px;
    text-align: center;
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.footer-area .social-media-area {
        position: absolute;
        bottom: 0;
        margin-left: 42%;
        padding-bottom: 15px;
}

.footer-area .social-media-area ul {
            display: flex;
        }

.footer-area .social-media-area ul li {
                background-color: #22203b;
                margin: 0 10px;
                text-align: center;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                padding-top: 10px;
            }

.footer-area .social-media-area i {
            color: #fff;
            font-size: 20px;
 }
