@{
    ViewBag.Title = "About";
}
<head>
    <link rel="stylesheet" href="@Url.Content("/Content/StyleSheet1.css")" />
</head>
<div class="side-bar">
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasLeftSidebar" aria-labelledby="offcanvasLeftSidebarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLeftSidebarLabel">Left Sidebar</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</main>